# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing & Virtual Environments
.pytest_cache/
.coverage
htmlcov/
venv/
.venv/
env/
